<!DOCTYPE html>
<html>
<head>
  <title>Lead</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=link_to( image_tag "women.png",:size => "100x155",:class=>"brand") %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="root_path">Home</a></li>
              
              <li class="dropdown">
              <a href="user_session_path" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <% if !user_signed_in?%>
                  <li><%=link_to "Sign In", new_user_session_path %></li>
                <% else%>  
                  <li><%=link_to "Sign Out", destroy_user_session_path,method: :delete%></li>
                <% end%>
                  <li class="divider"></li>
                   <li><a href="#">Profile</a></li>
                </ul>
              </li>
              
              <li><a href="#">Advisors</a></li>
              <li><a href="#">Advisees</a></li>
               <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Videos</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Goal template</a></li>
                  <li><a href="#">Events</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Suggested</li>
                  <li><a href="#">Suggested books</a></li>
                  <li><a href="#">Suggested websites</a></li>
                </ul>
              </li>
              <li><a href="#">help</a></li>
            </ul>

			<form class="form-search pull-right">
			 <div id="searchbar">
				<div class="input-append">
 				<input type="text" class="span3 search-query">
				<button type="submit" class="btn">Search</button>
			   </div>
			 </div>
			</form>         
          </div><!--/.nav-collapse -->
</div>
</div>
</div>
              
	<div id="container">
		<div id="user_nav">
			<% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			<br>
			<br>
			
		   
			<% else %>
		<%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
  	   <% end %>
  	</div>

		<% flash.each do |name, msg| %>
		 <%= content_tag :div, msg, id: "flash_#{name}" %>
		 <% end %>
		 <%= yield %>
	


</body>
</html>
